include AUTHORS CHANGES LICENSE.txt INSTALL MANIFEST.in README VERSION *.py
recursive-include src *
recursive-include doc  go* *.py *.pdx *.help *.html
recursive-include test *
global-exclude *~ *.pyc *.pyo
